In [78]:
import numpy as np
import pandas as pd
import json

### How do we predict what rating a user is going to give?
1) Business side:
    - location
    - type
    - hours
    - parking availability
    - ambience
    - takeout?
2) User side:
    - how long on yelp
    - elite status
    - review count
    - useful/funny/cool
    - home

# TODO
    - Matthew
        - isolate restaurants in business_df
        - preprocessing: marking reviews as good or bad
    - feature extraction
        - hometown
        - number of tips by user

# Next
    - what happens if we remove "inactive" users

In [79]:
business_df = pd.read_csv("sample_business.csv")
checkin_df = pd.read_csv("sample_checkin.csv")
review_df = pd.read_csv("sample_review.csv")
tip_df = pd.read_csv("sample_tip.csv")
user_df = pd.read_csv("sample_user.csv")

In [80]:
business_df.drop(columns = 'Unnamed: 0', inplace = True)
business_loc = business_df.iloc[:, [0,3, 4, 5, 6, 7]]

In [81]:
user_useful = user_df.iloc[:, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]]
user_useful.set_index('user_id', inplace = True)

In [82]:
review_df.drop(columns = 'Unnamed: 0', inplace = True)

In [83]:
rJoinU = review_df.join(user_useful, on = 'user_id', lsuffix='_Rev', rsuffix = '_User')

In [84]:
rJoinU.dropna(inplace = True)

In [85]:
business_loc.set_index('business_id', inplace= True)

In [86]:
rJUJBloc = rJoinU.join(business_loc, on='business_id', lsuffix='_rJU', rsuffix='_bloc')

In [87]:
rJUJBloc.dropna(inplace= True)

In [88]:
rJUJBloc

,review_id,user_id,business_id,stars,useful_Rev,funny_Rev,cool_Rev,text,date,name,...,cool_User,elite,friends,fans,average_stars,city,state,postal_code,latitude,longitude
350,tWZCoR6UQL_BSUSQpuF1SQ,HjCfLjX6pbL-RSVuxRnHGA,2JBFrR3KzCfBaFl5sPwSWg,5,0,0,0,I had a really good experience here. I had bee...,2017-05-10 06:59:24,Trish,...,122.0,"2016,2017,2018,2019,20,20,2021","hgbCQJ0xZVNBPxxeJOLybA, 9Und8nOzcBD84GOGbjW45A...",15.0,4.19,Tucson,AZ,85715,32.249197,-110.850244
669,bs2j-w4rk-DFX7RaI5E31g,wTdEJv1VYUdlZ0_fS_vT5A,p0UtMDuBcPkTmP9x3SEZlw,5,3,1,1,Christine was just amazing! Her knowledge abou...,2010-11-06 03:24:35,Paulina,...,62.0,"2010,2011,2012","DAeC-Y66n-jNMJJw4oAfNQ, qpFCY_wj8_G-HOV8MxIaHw...",11.0,4.06,New Orleans,LA,70115,29.920996,-90.117020
1759,pKf7zgp8hNWRf0Q8kIXtmQ,tBI1rbIioJ7o1_00OMXaCw,o7cD_sDA-Evj3Oh0zeH9nQ,3,1,0,2,Average food and just average quality. When I ...,2015-10-24 03:50:25,Perfecto,...,3377.0,"2015,2016,2017,2018,2019,20,20","9-4ggnCbnH6kHr_cEkj47g, R0_RUi0dGRe_yZ5JLZgvRQ...",95.0,4.05,Reno,NV,89511,39.477210,-119.764903
2485,WbgQBZZz8fDGDa2aHBkh-A,Y4paTTEMd6sNGSHVVcKnRg,J7_B_oDTGbFm4fe0Uy--lQ,4,0,0,0,Employees are very nice\n\nAtmosphere is chic ...,2013-09-29 05:39:00,Libby,...,31.0,"2016,2017","rGTbmuoo29GGlu2pAxeVyw, sKo2PFEGoDPfORw-_kH1LA...",11.0,3.86,Indianapolis,IN,46205,39.846614,-86.146095
5454,Ntz_TpNweXGUEA4roylGrQ,qRBTAUOEWrBY9N1JszH1ow,_49FsmTfruZSTjxU4OwOsg,5,1,0,1,This place was one of my favorite meals during...,2016-01-09 19:34:14,Swetha,...,550.0,"2009,2010,2011,2012,2013,2014,2015,2016,2017","ppumt9yLAoYZJLWN2Df-jQ, OOwv1ocICoa5Ulggtfrerg...",41.0,4.08,Nashville,TN,37212,36.143655,-86.813522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,witJoxglZ8K54XZ6ITNHfA,vl3qiO6v4RbFJBpxVREJPw,2Q1R2OhBbAQ581vK_r7NhA,5,0,0,0,"Lighted stairway leads to the relaxing , calm ...",2015-01-28 02:26:29,Jennifer,...,31.0,"2015,2016","25VrxgIm9K1hEOl2-SAwJw, GbCn6Fa9MjUvQ9aJR1UnaA...",3.0,4.39,Willow Grove,PA,19090,40.156669,-75.121837
38685,5qAYZLUt7nBajAb2joUAdA,zxuxd6Hz2tKcpgZ71dYEcw,ddibKJk-XuUhom1uI754WA,4,1,0,0,"Panda hut makes pretty good Chinese food, argu...",2013-12-14 02:59:57,Russell,...,260.0,"2014,2015,2016","_mensKWwcLtotC_UR6R75w, kkDUDXchYnv1cUbvhboh7Q...",16.0,3.90,Edmonton,AB,T6J 7B5,53.453330,-113.508505
39260,m8EI4neOxkag_fx0ak0tuw,mKBl4fAqTfNts7B78aOPVg,ts28to44UDqPxIKIlt68yQ,3,2,2,0,Time killer place for me is all I see.\n\nAfte...,2014-09-30 05:35:14,Dave,...,1770.0,"2010,2011,2012,2013,2014,2015,2016,2017,2018,2...","TrL_9PA5LSDXgCYU8I7NCg, vnl8aTXiLC08mVtG5Tu_xw...",76.0,3.68,Saint Louis,MO,63110,38.635676,-90.265144
39685,MwY0gy8ZT-YE9zvdHb_kew,Ttn1RtATzZBtWsx6MoPGqQ,9XpU6r6ATXSWYfbU7kibaQ,5,2,0,0,I've been a customer of their Suburban Station...,2016-01-08 17:22:56,David,...,322.0,"2015,2016,2017,2018,2019,20,20,2021","0K9H88eoVeONhxIbj-ywlw, z7kBLlOXJAqZxRuKZLz16w...",20.0,4.49,Philadelphia,PA,19103,39.954201,-75.167466
39940,rtBG2MDPM7DyX23mCN1SrA,I2XEhv9zBeAJcwYIrnMf1g,W8fyKHzZX68SQWFvwq_JMQ,5,8,3,9,I had a lot of fun hanging out at Hub Coffee d...,2018-08-20 20:15:55,Matt,...,14424.0,"2015,2016,2017,2018,2019,20,20,2021","CKJiKpWWg3P_Gg1xxBk8vg, KlMZIqkXngEiN0I1yqCVxw...",1312.0,4.16,Reno,NV,89503,39.521962,-119.822070

In [89]:
hometown = rJUJBloc.groupby(['user_id'])['city', 'state'].agg(pd.Series.mode)

<ipython-input-89-b4273713ad2a>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  hometown = rJUJBloc.groupby(['user_id'])['city', 'state'].agg(pd.Series.mode)

In [90]:
data = rJUJBloc.join(hometown, on="user_id", rsuffix="_home")

In [53]:
def hometown(row):
    if (row['city'] == row['city_home']) &  (row['state'] == row['state_home']):
        is_home = 1
    else: is_home = 0
    return is_home

In [54]:
data['is_home'] = data.apply(lambda x: hometown(x), axis = 1)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [93]:
data

,review_id,user_id,business_id,stars,useful_Rev,funny_Rev,cool_Rev,text,date,name,...,friends,fans,average_stars,city,state,postal_code,latitude,longitude,city_home,state_home
350,tWZCoR6UQL_BSUSQpuF1SQ,HjCfLjX6pbL-RSVuxRnHGA,2JBFrR3KzCfBaFl5sPwSWg,5,0,0,0,I had a really good experience here. I had bee...,2017-05-10 06:59:24,Trish,...,"hgbCQJ0xZVNBPxxeJOLybA, 9Und8nOzcBD84GOGbjW45A...",15.0,4.19,Tucson,AZ,85715,32.249197,-110.850244,Tucson,AZ
669,bs2j-w4rk-DFX7RaI5E31g,wTdEJv1VYUdlZ0_fS_vT5A,p0UtMDuBcPkTmP9x3SEZlw,5,3,1,1,Christine was just amazing! Her knowledge abou...,2010-11-06 03:24:35,Paulina,...,"DAeC-Y66n-jNMJJw4oAfNQ, qpFCY_wj8_G-HOV8MxIaHw...",11.0,4.06,New Orleans,LA,70115,29.920996,-90.117020,New Orleans,LA
1759,pKf7zgp8hNWRf0Q8kIXtmQ,tBI1rbIioJ7o1_00OMXaCw,o7cD_sDA-Evj3Oh0zeH9nQ,3,1,0,2,Average food and just average quality. When I ...,2015-10-24 03:50:25,Perfecto,...,"9-4ggnCbnH6kHr_cEkj47g, R0_RUi0dGRe_yZ5JLZgvRQ...",95.0,4.05,Reno,NV,89511,39.477210,-119.764903,Reno,NV
2485,WbgQBZZz8fDGDa2aHBkh-A,Y4paTTEMd6sNGSHVVcKnRg,J7_B_oDTGbFm4fe0Uy--lQ,4,0,0,0,Employees are very nice\n\nAtmosphere is chic ...,2013-09-29 05:39:00,Libby,...,"rGTbmuoo29GGlu2pAxeVyw, sKo2PFEGoDPfORw-_kH1LA...",11.0,3.86,Indianapolis,IN,46205,39.846614,-86.146095,Indianapolis,IN
5454,Ntz_TpNweXGUEA4roylGrQ,qRBTAUOEWrBY9N1JszH1ow,_49FsmTfruZSTjxU4OwOsg,5,1,0,1,This place was one of my favorite meals during...,2016-01-09 19:34:14,Swetha,...,"ppumt9yLAoYZJLWN2Df-jQ, OOwv1ocICoa5Ulggtfrerg...",41.0,4.08,Nashville,TN,37212,36.143655,-86.813522,Nashville,TN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38377,witJoxglZ8K54XZ6ITNHfA,vl3qiO6v4RbFJBpxVREJPw,2Q1R2OhBbAQ581vK_r7NhA,5,0,0,0,"Lighted stairway leads to the relaxing , calm ...",2015-01-28 02:26:29,Jennifer,...,"25VrxgIm9K1hEOl2-SAwJw, GbCn6Fa9MjUvQ9aJR1UnaA...",3.0,4.39,Willow Grove,PA,19090,40.156669,-75.121837,Willow Grove,PA
38685,5qAYZLUt7nBajAb2joUAdA,zxuxd6Hz2tKcpgZ71dYEcw,ddibKJk-XuUhom1uI754WA,4,1,0,0,"Panda hut makes pretty good Chinese food, argu...",2013-12-14 02:59:57,Russell,...,"_mensKWwcLtotC_UR6R75w, kkDUDXchYnv1cUbvhboh7Q...",16.0,3.90,Edmonton,AB,T6J 7B5,53.453330,-113.508505,Edmonton,AB
39260,m8EI4neOxkag_fx0ak0tuw,mKBl4fAqTfNts7B78aOPVg,ts28to44UDqPxIKIlt68yQ,3,2,2,0,Time killer place for me is all I see.\n\nAfte...,2014-09-30 05:35:14,Dave,...,"TrL_9PA5LSDXgCYU8I7NCg, vnl8aTXiLC08mVtG5Tu_xw...",76.0,3.68,Saint Louis,MO,63110,38.635676,-90.265144,Saint Louis,MO
39685,MwY0gy8ZT-YE9zvdHb_kew,Ttn1RtATzZBtWsx6MoPGqQ,9XpU6r6ATXSWYfbU7kibaQ,5,2,0,0,I've been a customer of their Suburban Station...,2016-01-08 17:22:56,David,...,"0K9H88eoVeONhxIbj-ywlw, z7kBLlOXJAqZxRuKZLz16w...",20.0,4.49,Philadelphia,PA,19103,39.954201,-75.167466,Philadelphia,PA
39940,rtBG2MDPM7DyX23mCN1SrA,I2XEhv9zBeAJcwYIrnMf1g,W8fyKHzZX68SQWFvwq_JMQ,5,8,3,9,I had a lot of fun hanging out at Hub Coffee d...,2018-08-20 20:15:55,Matt,...,"CKJiKpWWg3P_Gg1xxBk8vg, KlMZIqkXngEiN0I1yqCVxw...",1312.0,4.16,Reno,NV,89503,39.521962,-119.822070,Reno,NV

In [57]:
data.reset_index(inplace = True)

In [76]:
data['city']

0           Tucson
1      New Orleans
2             Reno
3     Indianapolis
4        Nashville
          ...
83    Willow Grove
84        Edmonton
85     Saint Louis
86    Philadelphia
87            Reno
Name: city, Length: 88, dtype: object

In [59]:
test = pd.DataFrame({'a': ['friends', 'family', 'enemies'],
                    'b': ['friends', 'family', 'enemy']})

In [60]:
test

         a        b
0  friends  friends
1   family   family
2  enemies    enemy

In [61]:
test['equ'] = test['a'] == test['b']

In [74]:
test

         a        b    equ
0  friends  friends   True
1   family   family   True
2  enemies    enemy  False